.summaryContainer {
    max-width: 330px;
    @apply border rounded-xl px-4 py-2 flex-1
}

.summaryContainerFlex{
    flex: 0.25;
}

.cart-items-container{
    flex: 0.75;
}

.proceed-checkout-button{
    padding: 10px;
}