.inner-container {
    height: 579px;
    @apply relative mt-6 mx-5 xl:mx-auto xl:mt-4;
}

.inner-container--message {
    height: 160px;
    resize: none;
}

.maps-container {
    height: 592px;
    @apply relative;
}

@media screen and (min-width: 1280px) {
    .inner-container {
       width: 1136px;
       height: 342px;
    }

    .inner-container--message {
        height: 105px;
    }
 }
