.slide-container {
   max-height: 504px;
}

.review-logo-img{
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    /* transform: translateX(-50%); */
}

@media screen and (max-width:767px) {
    .review-logo-img{
        position: absolute;
        max-width: 100%;
        /* transform: translateX(-50%); */
    }
}

.carouselContainer{
    width: 100%;
}

.slide-image {
   /* min-height: 504px; */
   width: 100%;
}

.slide-container img {
   height: auto;
   object-fit: contain;
   max-height: 504px;
}

.singleBanner {
   height: 168px;
}

@media screen and (min-width: 1280px) {
   .slide-container {
      height: auto;
      min-height: 504px;
      margin: auto;
      max-width: 1136px;
   }

   .slide-container img {
      height: auto;
      object-fit: cover;
      max-height: 504px;
   }
}