.inner-container {
    height: 511px;
    @apply relative mt-6 mx-5 xl:mx-auto xl:mt-2;
}

.inner-container--desc {
    height: 160px;
    resize: none;
}

.colored-container {
    height: 320px;
    @apply relative bg-primary opacity-10;
}

@media screen and (min-width: 1280px) {
    .inner-container {
       width: 1136px;
       height: 357px;
    }

    .inner-container--message {
        height: 105px;
    }

    .colored-container {
        height: 387px;
    }

    .submit-btn {
        width: 285px;
        @apply float-right clear-right;
    }
 }
