.summaryContainer {
    max-width: 417px;
    @apply flex-auto p-5 xl:p-0;
}

.summaryContent {
    @apply border rounded-xl p-6;
}

@media screen and (min-width: 1280px) {
    .summaryContainer {
        min-width: 417px;
    }    
}