.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-wishlist{
    /* margin: 0 auto; */
    max-width: 150px;
    flex: 0.01;
}

.flex-0-15{
    flex: 0.15;
}

.product-link{
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .wishlist-mobile-container{
        padding: 1em;
    }
    .product-link p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .vertical-center-responsive {
        margin: 0;
        position: absolute;
        max-width: 100%;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


.flex-0-2{
    flex: 0.2;
}

.flex-0-25{
    flex: 0.25;
}

.flex-0-3{
    flex: 0.3;
}

.flex-0-7{
    flex: 0.7;
}

.flex-0-75{
    flex: 0.75;
    flex-direction: column;
}