@media screen and (max-width: 1280px) {
    .table-order thead {
        @apply hidden
    }
    
    .table-order tr {
        @apply border-b 
    }

    .table-order td {
        @apply flex py-1
    }

    .table-order td::before {
        content: attr(data-header);
        @apply font-normal w-2/5;
    }

    .table-order td:last-child {
        @apply pb-4
    }

    .table-order td:first-child {
        @apply pt-4
    }

    .table-order td > p {
        @apply w-3/5
    }
}