@media screen and (max-width: 767px) {
    .scroll-sidebar{
        display: -webkit-inline-box;
        overflow-y: auto;
        width: 100%;
    }
    .sidebar-item{
        padding: 5px 1em;
    }
}