@media screen and (max-width: 767px) {
    .cart-container, .discount-code{
        display: block;
    }
    .max-width-50{
        max-width: 50px;
    }
    .height-28{
        height: 28px;
    }
    .summaryContainer{
        max-width: 100%;
    }
    .shopping-cart-title{
        margin-bottom: 1em;
    }
    .item-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: calc(100vw - 150px);
    }
    .item-name:active:after{
        content:attr(title);
    }
    .img-cart-items{
        object-fit: contain;
    }
    .hidden-xs{
        display: none;
    }
    .button-discount-container{
        text-align: right;
    }
    .button-apply-discount{
        margin: 1em 0;
    }
}