@media screen and (max-width: 767px) {
    .category-container{
        display: block;
    }
    div.accordion-category{
        max-width: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        background: white;
        width: 100%;
        left: 0;
        margin: 0 !important;
        top: 150px;
    }
    .category-grid-mobile{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .product-grid-item-mobile{
        min-height: 400px;
    }
    .category-grid-container{        
        margin: 2em 0!important;
        padding: 0 1em;
    }
    .hamburger-menu{
        width: 100%;
        max-width: 22px;
        height: 34px;
        object-fit: contain;
    }
    .hamburger-menu-button{
        padding: 0 1em;
        float: right;
    }
    .label-inline-responsive{
        padding: 0 0.25em;
    }
    .select-inline-responsive{
        max-width: 75%;
    }
    .product-site-map{
        padding: 0.5em 1em 1em 1em;
        overflow-x: auto;
        width: 100%;
        display: -webkit-inline-box;

    }
}

@media screen and (min-width:768px) and (max-width:1136px) {
    .category-container{
        padding: 0 1em;
    }
}

@media screen and (min-width:320px) and (max-width:374px) {
    .select-inline-responsive{
        max-width: 60%;
        padding-right: 10px;
        margin: 0 !important;
    }
    .hamburger-menu-button{
        padding: 0 0.75em;
    }
    .category-grid-mobile{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width:375px) and (max-width:568px) {
    .select-inline-responsive{
        max-width: 70%;
        padding-right: 10px;
        margin: 0 !important;
    }
    .hamburger-menu-button{
        padding: 0 1em;
    }
}