@media screen and (max-width: 767px) {
    .responsive-img-cart{
        object-fit: contain;
    }
    .summaryContainer{
        max-width: 100%;
    }
    .summaryContent{
        padding: 1em;
    }
    .responsive-item-name{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .item-cart-container{
        display: inline-flex;
        width: 100%;
    }
    .item-name-container{
        display: inline-grid;
    }
}
html div.item-cart-container > span{
    /* width: 100%; */
    text-align: center;
    /* height: 100px; */
}