.root {
   border-width: 1px;
   border-color: #cccccc;
   background-color: #fff;
   border-radius: 3px;
   min-width: 20px;
   min-height: 20px;
}

.root:checked {
   color: rgba(62, 205, 89, 0.2);
   border-color: #3ecd59;
   background-color: rgba(62, 205, 89, 0.2);
}

.checkbox:checked:before {
   background-color: #3ecd59;
}

.root:focus {
   border-color: #3ecd59;
   background-color: rgba(62, 205, 89, 0.2);
}
