div button.cursor-disabled:disabled{
    cursor: not-allowed;
}

/* @media screen and (min-width: 1280px) {
    .product-detail-container{
        margin-left: 9.5%;
        margin-right: 9.5%;
    }
} */
@media screen and (max-width: 1280px) {
    .product-detail-container{
        padding: 0 1em;
        padding-bottom: 1em;
    }
}