@media screen and (max-width: 767px) {
    .image-slider{
        display: block;
    }
    .detail-container-mobile{
        margin: 0 !important;
        padding: 0 1em;
    }
    .flex-tab{
        display: flex;
        overflow-x: auto;
    }
    .detail-description{
        padding: 2em 0;
    }
    .justify-between{
        justify-content: space-between;
    }
    .product-site-map{
        padding: 0.5em 1em;
    }
    .react-star-mobile div{
        flex: 50%;
    }
    .react-star-mobile{
        display: block;
    }
    div.flex-initial-mobile{
        flex: 0 1 auto;
    }
    .rating-value-label-mobile{
        padding: 0 1em;
    }
    .product-site-map{
        padding: 0.5em 1em 1em 1em;
    }
}