@media screen and (min-width:768px) {
    .headerMobile{
        position: sticky;
        top: 0;
        z-index: 1000;
        background: white;
    }
}

.img-contact-wa{
    position: fixed;
    width: 100%;
    bottom: 1em;
    max-width: 100px;
    z-index: 1001;
    right: 1em;
}

@media screen and (max-width:767px) {
    .img-contact-wa{
        max-width: 75px;
    }
    .headerMobile{
        position: fixed;
        z-index: 999;
        background: white;
        box-shadow: 0px -5px 5px 8px #ccc;
        width: 100%;
        top:0;
    }
    .contentMobile, .footerMobile{
        top: 103px;
        position: relative;
    }
}

@media screen and (min-width:320px) and (max-width: 340px) {
    .headerMobile{
        position: fixed;
        z-index: 999;
        background: white;
        box-shadow: 0px -5px 5px 8px #ccc;
        width: 100%;
    }
    /* div.contentMobile, div.footerMobile{
        top: 128px;
        position: relative;
    } */
    span.no-mr{
        margin-right: 0;
    }
}