@media screen and (min-width: 768px) {
    .product:hover {
       box-shadow: 0px 47px 84px rgba(0, 0, 0, 0.04),
          0px 5.88513px 10.5181px rgba(0, 0, 0, 0.02);
    }
}

.product {
   height: 280px;
   max-height: 280px;
}

.product-list {
    height: fit-content;
    max-height: fit-content;
    /* box-shadow: 1px 1px 10px #ccc; */
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.product-name-wrap{
    position: relative;
}

/* .product-name-wrap:after{
    content:"\02026";
    position: absolute;
    bottom: 0;
    right: 0;
} */

.button-add-to-cart-mobile{
    padding: 0.75em;
    width: 100%;
}

.button-add-to-cart:disabled, .button-add-to-cart-disabled{
    cursor: not-allowed !important;
    background-color: #ccc !important;
}

.product-description {
   overflow: hidden;
   max-lines: 2;
   text-overflow: ellipsis;
   word-wrap: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.product--name {
   /* width: 138px; */
   line-height: 1.5em;
   height: 3em;
   overflow: hidden;
   width: fit-content;
   margin: 0;
   word-break: break-word;
   @apply max-w-full
}

.cursor-disabled{
    cursor: not-allowed;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .product {
        min-height: 400px;
        margin-bottom: 2em;
        padding: 1em;
     }
    .product-list {
        padding: 1.5em 1em;
    }
}

@media screen and (max-width: 767px) {
    .product {
        min-height: 400px;
        padding: 1em;
     }
    .product-list {
        padding: 1.5em 1em;
    }
}

@media screen and (min-width: 1280px) {
   .product {
      min-height: 400px;
      max-height: 400px;
      padding: 0em 0.75em;
   }

   /* .product--name {
      width: 176px;
   } */
}