.footer{
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.footer a:hover{
    @apply text-secondary
}

.footer a * h3:hover{
    @apply text-secondary
}

.footer h3{
    @apply text-gray-500
}

.footer h3 > span {
    @apply text-gray-400
}

.footer h3 > b {
    @apply text-gray-400
}

.footer p, .footer span, .footer a{
    color: var(--dark-grey-2);
}

.newsletter {
    height: 40px;
    @apply relative text-black mt-6 w-80;
}

.newsletter input {
    @apply w-full h-full border border-gray-400;
    padding-right: 60px;
    height: 40px;
}

.newsletter button {
    width: 56px;
    height: 40px;
    @apply bg-secondary rounded-r flex items-center justify-center absolute right-0 top-0 border border-gray-400 border-l-0;
}