.search {
    width: 525px;
    height: 40px;
    position: relative;
    @apply hidden xl:block
}

.successAddToCart{
    position: fixed;
    line-height: 33px;
    z-index: 1000;
    width: 100%;
    background: #00640099;
    text-align: center;
    height: inherit;
    top: 0;
    left: 0;
}

@media screen and (max-width:767px){
    header div.search{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1100px) {
    header#myHeader{
        padding-bottom: 5px;
    }
}

div.search{
    display: flex;
}

.search img, .img-alliance{
    margin: 0 1em;
    position: relative;
    /* bottom: 5px; */
    height: 50px;
}

@media screen and (max-width:1280px) {
    .img-alliance-header-mobile{
        padding-left: 1.5em;
        position: relative;
        height: 50px;
        object-fit: scale-down;
    }
}

.search input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding-right: 90px;
    height: 100%;
    @apply text-base;
}

.search input:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 144px;
    height: 100%;
    position: relative;
    @apply text-base;
}