.navbar li:hover {
    @apply xl:bg-dark-blue;
}

.searchContainer{
    padding: 1em 0;
}

.search {
    width: 100%;
    display: flex;
    height: 40px;
    position: relative;
    /* @apply hidden xs:block */
}

.search input{
    width: 100%;
}

.search input:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search button{
    padding: 0 1em;
}

.navbarDropdownToggle:hover .navbarDropdown {
    @apply xl:block;
}

.navbarDropdown {
    @apply xl:hidden z-50;
}

.navbarDropdown li {
    @apply w-full;
}

.navbarDropdown li a{
    @apply px-6 py-2;
}

.navbarDropdown li:hover {
    @apply xl:bg-light-grey text-secondary;
}

.navbarDropdown > ul > li > div {
    @apply xl:absolute xl:shadow-xl top-0 right-0 bg-white h-full overflow-auto;
}

.childToogle:hover .child {
    @apply xl:flex;
}

.child {
    @apply xl:hidden;
}

.navbtn {
    @apply hidden;
}

@media screen and (min-width: 1280px) {
    .width-300 {
        width: 300px;
    }

    .categoriesContainer {
        min-height: 501px;
    }

    .navbarDropdown {
        width: 300px;
    }

    .navbarDropdown > ul > li > div {
        width: 836px;
        transform: translatex(100%) scale(1);
    }
}

@media screen and (max-width:767px) {
    .child{
        overflow-y: auto;
        max-height: 300px;
        margin: 0;
    }
    .full-width-mobile{
        width: 100%;
    }
    .navbarMobile{
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100vh;
        margin: 0 -0.25em;
        padding: 0 0.5em;
    }
}