@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
   font-family: "Open Sans", sans-serif;
}

button:disabled{
    cursor: not-allowed;
}

::-webkit-validation-bubble-message { display: none; }

.hidden-desktop{
    display: none;
}

div.qty-container > :not([hidden]) ~ :not([hidden]) {
    margin-left: calc(0 * calc(1 - var(--tw-space-x-reverse)));
    /* margin-right: 1em; */
}

.flex-0-5{
    flex: 0.5;
}

div.flex-0-5 form.pagination-custom-form, div.limit-mobile form.pagination-custom-form{
    display: inline-flex;
    float: right;
}

div.qty-container span{
    margin-right: 1em;
}

.pagination-container form{
    display: none;
}

@media screen and (max-width:767px) {
    .hidden-mobile{
        display: none;
    }
    .hidden-desktop{
        display: block;
    }
    .grid-cols-1-mobile{
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
    .grid-cols-2-mobile{
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .grid-cols-3-mobile{
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .px-0-mobile{
        padding: 0;
    }
    .pr-0\.5-mobile{
        padding-right: 0.125rem;
    }
    .float-right-filter-menu-mobile{
        position: absolute;
        top: 0;
        right: 1em;
    }
    .mt-10-mobile{
        margin-top: 2.5rem;
    }
    .p-1em-mobile{
        padding: 1em;
    }
    .pl-0-mobile{
        padding-left: 0;
    }
    .overflowy-mobile{
        overflow-y: auto;
    }
    .overflowxhidden-mobile{
        overflow-x: hidden;
    }
    .mx-1-mobile{
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    .px-8-mobile{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-2xl-mobile{
        font-size: 32px;
        line-height: 40px;
    }
    .relative-mobile{
        position: relative;
    }
    .px-4-mobile{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .py-4-mobile{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .p-4-mobile{
        padding: 1rem;
    }
    .pr-4-mobile{
        padding-left: 0;
        padding-right: 1rem;
    }
    .py-1-mobile, div li a.py-1-mobile {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .py-b-mobile, div li a.pb-1-mobile {
        padding-bottom: 0.25rem;
    }
    .py-2-mobile {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .carousel-container-custom-logo li div{
        width: 150px;
    }
    .carousel-container-custom-logo .carousel__slider-tray-wrapper{
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .img-logo-child{
        position: relative;
        scroll-snap-align: start;
    }
}

a{
    cursor: pointer;
}

.text-11-px{
    font-size: 11px;
}

.max-content{
    width: max-content;
}

a.next-pagination__link--current {
    background: #f0f0eb;
    color: #4f4f4f;
    pointer-events: none;
 }

.review-star-wrapper-homepage div{
    width: fit-content;
    align-self: center;
}

nav a.xl\:py-5, nav div.xl\:py-5{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

:root {
   --primary: #9B9B9B;
   --dark-blue: #626161;
   --secondary: #F58225;
   --secoondary-dark: #EC7311;
   --accent: #3dcd58;
   --black: #1b2124;
   --dark-grey: #5a5f62;
   --dark-grey-2: #8d9091;
   --secondary-dark-grey: #8d9091;
   --grey: #cccccc;
   --light-grey: #fbfbfb;
   --gray-2: #4f4f4f;
}

div.list-product span{
    width: 100% !important;
}

.max-width-1136 {
   max-width: 1136px;
}

.font-shadow{
    text-shadow: 2px 2px 10px black;
}

.max-width-1100 {
   max-width: 1100px;
}

.custom-container {
   max-width: 1136px;
   min-height: 500px;
}

.h-min-content {
   height: min-content;
}

.flex-33 {
   flex: 33%;
}

.border-gray {
   border-color: var(--grey);
}

.preorder-badge{
    position: absolute;
    bottom: 0;
    background-color: #2c2c2caa;
    padding: 0.25rem 0.475rem;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

@media screen and (max-width: 1280px) {
   .custom-container {
      min-height: auto;
   }
}

/* Next Pagination Custom CSS */

.next-pagination {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
    user-select: none;
 }
 
 .next-pagination * {
    box-sizing: inherit;
 }
 .next-pagination__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .next-pagination__item {
    border: 1px solid rgba(209, 213, 219, 0.7);
    border-left-color: transparent;
    display: flex;
    margin-right: -1px;
 }
 @media screen and (min-width: 37.5em) {
    .next-pagination__item {
       display: block;
    }
 }
 .next-pagination__item:first-child,
 .next-pagination__item:last-child {
    display: block;
 }
 .next-pagination__item:first-child {
    border-left-color: #d1c7bd;
    border-radius: 4px 0 0 4px;
 }
 .next-pagination__item:first-child .next-pagination__link {
    border-radius: 4px 0 0 4px;
 }
 .next-pagination__item:last-child {
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
    margin-right: 0;
 }
 .next-pagination__item:last-child .next-pagination__link {
    border-radius: 0 4px 4px 0;
 }
 .next-pagination__item--hellip {
    min-width: 2.5em;
    padding: 0.5em 0.5em;
    text-align: center;
 }
 .next-pagination__link {
    background: #fff;
    color: #5a5f62;
    display: block;
    min-width: 2.5em;
    outline: 1px solid transparent;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    transition: outline-color 0.2s ease-in-out;
    font-size: 11pt;
 }
 .next-pagination__link:hover,
 .next-pagination__link:focus {
    outline: 1px solid currentColor;
    position: relative;
    z-index: 1;
 }
 .next-pagination__link--disabled {
    background: #fff;
    color: #4f4f4f;
    pointer-events: none;
 }
 .next-pagination__link--current {
    background: #f0f0eb;
    color: #4f4f4f;
    pointer-events: none;
 }
 .next-pagination__link svg {
    display: block;
 }
 .next-pagination__form {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
 }
 .next-pagination__label {
    flex: 0 0 auto;
    margin-left: 0.5em;
    font-size: 11pt;
 }
 .next-pagination__select {
    background-color: #fff;
    border: 1px solid rgba(209, 213, 219, 0.7);
    border-radius: 4px;
    color: inherit;
    display: block;
    font-size: 11pt;
    line-height: 24px;
    position: relative;
    text-overflow: ellipsis;
    transition: border-color 0.2s ease-in-out;
    width: 100%;
 }
 .next-pagination__select:focus-within,
 .next-pagination__select:hover {
    border-color: #006dcc;
    outline: none;
 }
 .next-pagination__select select {
    appearance: none;
    background: transparent;
    border: 0 none;
    display: block;
    /* height: calc(1em + 24px + 2px); */
    font-size: 11pt;
    line-height: 24px;
    padding: 0.5em 0.5em;
    padding-right: 2.5em;
    padding-left: 1em;
    text-overflow: ellipsis;
    transition: border-color 0.2s ease-in-out;
    width: 100%;
    z-index: 1;
 }
 .next-pagination__select select:focus {
    outline: none;
 }
 .next-pagination__select select::-ms-expand {
    display: none;
 }
 .next-pagination__select-suffix {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
    width: 2em;
 }
 .next-pagination__select-suffix svg {
    display: block;
    height: 16px;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
 }
 .next-pagination__submit {
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
 } 